{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Enter new password' %}{% endblock %}
{% block content %}

	{% if validlink %}
		<div class="page-header row">
			<h1>{% trans 'Enter new password' %}</h1>
		</div>
        <div class="row">
            <form action="{{ request.path }}" method="post" class="span4">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="row">
                    <div class="span4 {{ form.new_password1.css_classes }}">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="span4 {{ form.new_password2.css_classes }}">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" class="btn pull-right" value="{% trans 'Change password' %}">
                </div>
            </form>
            <div class="span5">
                <p>{% trans "Enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
        </div>
	{% else %}
		<div class="page-header">
			<h1>{% trans 'Password reset unsuccessful' %}</h1>
		</div>
		<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
	{% endif %}

{% endblock %}
