{% extends "accounts/index.html" %}
{% load i18n accounts_extras %}
{% load url from future %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block sidebar_middle %}{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{% trans 'Password change successful' %}</h1>
    </div>
	<p>
		{% trans 'Your password was changed' %},
		<a href="/">{% trans 'continue' %}</a>.
	</p>
{% endblock %}

{% block sidebar %}
    {% accounts_sidebar group='settings' type='change_password' %}
{% endblock %}
