{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content %}
    <div class="page-header row">
        <h1>{% trans "Password reset" %}</h1>
    </div>
	<div class="row">
        <form action="{{ request.path }}" method="post" class="span4">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="row">
                <div class="span4 {{ form.email.css_classes }}">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
            </div>

            <div class="form-actions">
                <input type="submit" class="btn pull-right" value="{% trans 'Reset password' %}">
            </div>
        </form>
		<div class="span5">
            <p>{% trans "Forgotten your password? Enter your e-mail address here, and we'll e-mail instructions for setting a new one." %}</p>
		</div>
	</div>
{% endblock %}
